

*{
    margin:0;
    padding:0;
    /*     font-family: 'Nanum Gothic', sans-serif; */
}

html{
    font-size:15px;
}

html,body{
    height:100%;
}

#wrap{
    height:100%;
    background-color:white;
    min-width:320px;
}

.header{
    display: flex;
    flex-direction: row-reverse;
}

.fa-cog{
    font-size:1.8rem;
    color:#e81e22;
    margin:10px 10px 0 0;
    border-radius:100%;
}

/* section */

.section{
    display: flex;
    justify-content:center;
    margin-top:40px;
}


.section__content{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    text-align: center;
}

.section__logo{
    font-size:3.5rem;
    font-weight:bold;

}

.section__result{
    margin-top:30px;
    font-size:1.5rem;
}

#section__result{
    margin-top:30px;
    font-size:1.5rem;
}

.section__picker{
    margin:0 auto;
    width:70%;
    border:none;
    border-radius:10px;
    padding:10px 50px;
    font-size:1.3rem;
    margin-top:10px;
    background-color:#fed330;
    box-shadow: 0 4px 0 0 #f7b731;
    outline: none;
}

.section__picker:active{
    cursor:none;
    margin-top:13px; box-shadow: none;
}

.section__comment{
    font-size:17px;
}

#section__title{
    color:#e81e22;
    font-weight:bold;
}


.fa-utensils{
    margin-top:10px;
    font-size:4.5rem;
    color:#e81e22;
}

.fa-bolt{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    margin-left:5px;
    margin-top:25px;
    color:#fed330;
    font-size:3rem;
}